@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: #ffffff;
    background-image: url(/Images/Blur\ 1.png);
    background-repeat: no-repeat;
}




.nav-link:hover{
    border-bottom: #FE8C45 2px solid;
}

.rounded-5:hover{
    transform: scale(1.1);
    transition: all ease-in 0.3s;
}

.l-text{
    font-size: 74px;
}

.hero{
    background-image: url(/Images/Blur\ 2.png);
    background-repeat: no-repeat;
    
}

.color{
    background: #F3EDFE;
    width: auto;
    height: 700px;
    margin-top: 150px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.rows{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .col{
        flex: 33.3%;
        width: auto;
        height: 100%;
        overflow: hidden;
        padding: 0px 4px;
        img{
            width: 100%;
            height: 100%;
            margin-top: 2%;
        }
    }
}

.card{
    outline: none;
    border: none;
}












@media (min-width: 370px) and (max-width: 991.98px) {
    .color{
        background-color: #ffffff;

    }

    .l-text{
        font-size: 50px;
        padding-bottom: 10px;
    }

    .image{
        display: none;
    }



  }

 
  